*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    flex-wrap: wrap;
}
.card > img{
    padding: 10px;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1;
    overflow: hidden;
}